.upload__image-wrapper{
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}
.upload__image-uploadBtn{
    position: relative;
    width: 100%;
    height: 120px;
    border: 2px dashed #8E8E8E;
    cursor: pointer;
    font-size: 20px;
    color: #8E8E8E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    padding: 10px;
    box-sizing: border-box;
}
.upload__image-uploadBtn:hover{
    border-color: #009B00;
}
.upload__image-uploadBtn img{


    width: 40px;
    height: 40px;
    opacity: .7;
    margin-bottom: 15px;
}
.upload__image-container{
    display: flex;
}
.upload__image-item{
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    overflow: hidden;
    margin: 15px 15px 15px 0;
    border: 2px solid #DDDDDD;
    cursor: pointer;
}
.upload__image-delete{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 100;
}
.upload__image-item:hover .upload__image-delete{
    display: block;

}
.upload__image-delete img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s ease;
    width: 25px!important;
    height: 25px!important;
}
.upload__image-delete img:hover{
    width: 30px!important;
    height: 30px!important;
    transition: .2s ease;
}
.upload__file-itemText{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #FF6800;
    font-weight: bolder;
}
.upload__image-item img{
    position: absolute;
    width: 100%;
    height: 100%;


}
.upload__image-item:hover .image-item__btn-wrapper{
    opacity: 1;
    transition: ease .2s;
}
.image-item__btn-wrapper{
    border-radius: 9px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    opacity: 0;
    transition: ease .2s;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}
.image-item__btn-wrapper span{
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 10px;
}
.image-item__btn-wrapper span img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.upload__image-remove-allBtn{
    position: relative;
    border-radius: 9px;
    padding: 10px;
    color: #D45454;
    font-weight: bold;
    font-size: 17px;
    border: 2px solid #D45454;
    cursor: pointer;
    align-self: flex-start;
}