.modal__wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,.6);
}
.modal__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 380px;
    height: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: #F2F2F2;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 6px;

    padding: 20px;
    z-index: 999;
}
.modal__container h2{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
.modal__btns{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.modal__btns-confirm,.modal__btns-cancel{
    width: 160px;
    height: 50px;
    border-radius: 9px 6px 6px 9px;

    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #F2F2F2;


    display: flex;
    justify-content: center;
    align-items: center;


}
.modal__btns-confirm ,.modal__btns-cancel{
    margin-right: 5px;
}
.modal__btns-confirm{
    background: #009B00;
}
.modal__btns-confirm:hover{
    background: #007600;
}
.modal__btns-cancel:hover{
    background: #CF0000;
}
.modal__btns-cancel{
    background: #FF0303;
}
.errorMessage{
    display: flex;
    align-items: center;
    color: #FF0303;
    font-size: 20px;
    align-self: center;
}
.errorMessage img{
    width: 28px;
    height: 28px;
    margin-right: 10px;
}