.recordView__container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.recordView__container-title{
    display: flex;
    align-items: center;

    margin-bottom: 35px;
}
.recordView__container-title h2{
    margin-left: 10px;
}
.recordView__btn{
    background: #009B00;
    border-radius: 21px 9px;

    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #F2F2F2;

    padding: 12px 25px;
    text-decoration: none;
    margin-top: 25px;
    align-self: center;
    margin-left: -250px;
}

.recordView__item{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}
.recordView__item-imgWrapper{
    display: flex;
}
.recordView__item-imgContainer{
    height: 120px;
    width: 120px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 9px;
}
.recordView__item-imgContainer img{
    width: 100%;
    height: 100%;
}
.recordView__item-title{
    color: #8E8E8E;
    font-size: 18px;
    margin-bottom: 15px;
}
.recordView__item-value{
    font-weight: 600;
    font-size: 22px;
}