.searchPanel{
    border: 2px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 9px 5px 5px 9px;
    width: 630px;
    height: 50px;

    position: relative;
    margin: 30px 0;
}
.searchPanel span{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

}
.searchPanel input{
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
.searchPanel img{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: -1px;
}