.sidebar__container{
    position: absolute;
    height: 100%;
    z-index: 5;
    width: 200px;
    margin-top: 75px;
}
.sidebar{
    width: 100%;
    border-right: 2px solid #DDDDDD;
    padding-right: 25px;
    margin-top: 5px;
}
.sidebar__item,.sidebar__item_active {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;

}
.sidebar__item span:hover{
    color: #FF6800;
}
.sidebar__item_active span{
    color: #FF6800!important;

}
.sidebar__item img,
.sidebar__item_active img{
    width: 26px;
    height: 26px;
    padding: 7px;
}
.sidebar__item span,
.sidebar__item_active span{

    color: #8E8E8E;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    margin-left: 20px;
    margin-top: 2px;
}

@media only screen and (max-width: 784px){
    .sidebar__item span,
    .sidebar__item_active span{
        display: none;
    }
    .sidebar{
        border: none;
        padding-right: 0;
    }
    .sidebar__container{
        width: 60px;
        margin-top: 0;
    }
}