.tableItem{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-radius: 9px 5px 5px 9px;
    display: flex;
    margin: 15px 0;
    padding: 7px 12px 7px 12px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tableItem-container{
    display: flex;
    align-items: center;
}
.tableItemColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    margin-right: 80px;
    font-size: 18px;
}
.tableItemColumn__title{
    font-size: 18px;
    font-weight: 600;
}
.tableItem-checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
    margin-right: 20px;
}

.tableItem-checkbox__default {
    display: none;
}

.tableItem-checkbox__new {
    width: 24px;
    height: 24px;
    border: 2px solid #DDDDDD;
    border-radius: 10px 4px;
    margin-right: 10px;
    position: relative;
    display: block;
    flex-shrink: 0;
}

.tableItem-checkbox__new::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.11s ease-in;
}

.tableItem-checkbox__default:checked + .tableItem-checkbox__new::after {
   width: 100%;
    height: 100%;
    background: #009B00;
    border-radius: 10px 4px;
    box-shadow: 0px 1px 8px rgba(0,155,0,.4);

}
.tableItem-checkbox__default:checked + .tableItem-checkbox__new {
    border: none;
    margin-right: 5px;

}
