.table-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 100%;
}
.table-loading-wrapper{
    position: absolute;
    width: 110%;
    height: 110%;
    left: -20px;
    z-index: 100;
    box-sizing: border-box;
    backdrop-filter: blur(6px);
}
.table-loading-wrapper div{
    top: 35%;
}
.tableItem{
    border: 2px solid #DDDDDD;

    border-radius: 9px;
    display: flex;
    margin: 15px 0;
    padding: 10px 12px;
    cursor: pointer;
    width: 100%;
    justify-content: space-around;
    align-self: center;
}
.tableItem:hover{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    border-color: transparent;
    background: #F2F2F2;
}
.tableItem-container__wrapper{

}
.tableItem-container{
    display: flex;
    align-items: center;
}
.tableItemColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    max-width: 200px;
    overflow: hidden;
    text-align: center;
    height: 100%;
}
.tableItemColumn__title{
    font-size: 18px;
    font-weight: 600;
}
.tableItem-checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
    margin-right: 20px;

}

.tableItem-checkbox__default {
    display: none;
    box-sizing: border-box;
}

.tableItem-checkbox__new {
    width: 24px;
    height: 24px;
    border: 2px solid #DDDDDD;
    border-radius: 10px 2px;
    margin-right: 10px;
    position: relative;
    display: block;
    flex-shrink: 0;
    box-sizing:border-box;
}


.tableItem-checkbox__new::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.11s ease-in;
}
.tableItem-checkbox__new:hover{
    border:2px solid rgba(0,155,0,.36);
}
.tableItem-checkbox__default:checked + .tableItem-checkbox__new::after {
   width: 100%;
    height: 100%;
    background: #009B00;
    border-radius: 10px 2px;
    border: 1px solid #009B00;


}
.tableItem-checkbox__default:checked + .tableItem-checkbox__new {
    border: none;

}



@media only screen and (max-width: 784px){
    .tableItem-container{
        flex-wrap: wrap;
    }
    .tableItem-checkbox-label{
        margin-right: 0;
    }
    .tableItemColumn{
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin: 10px 0;
        text-align: start;
    }
    .tableItemColumn span{
        width:150px;

    }
    .tableItem{
        width: 80%;
        flex-direction: column;
    }
}











