*{
  margin: 0;
  padding: 0;
}
body{
  background: #E5E5E5;
  font-family: 'Open Sans', sans-serif!important;
  font-size: 16px;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
input,button{
  border: none;
}
.page{
  padding: 60px 60px 60px 185px;
  width: 100%;
  height: 100%;

}
.container{
  width: 1140px;
  position: relative;
  margin: 0 auto;
  display: flex;
}
.page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-left: 260px;
  margin-top:100px;
  height: 100%;
}
.page-content__title{
  text-align: center;
  font-size: 27px;
}

.page-functional{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createOrEditContainer{
  display: flex;
 flex-direction: column;
  max-width: 700px;
}
.createOrEditContainer__title{
  display: flex;
  align-items: center;

  margin-bottom: 35px;
}
.createOrEditContainer__title h2{
  margin-left: 10px;
}

.createOrEditField{

  margin: 15px 0;
}
.createOrEditField label{
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;

  color: #000000;
}
.createOrEditField input{
  height: 100%;
  width: 100%;
  background: #DDDDDD;
  padding: 10px;
  border: 2px solid #DDDDDD;
  border-radius: 9px;
  font-size: 20px;
  line-height: 27px;
  margin: 15px 0;
  box-sizing: border-box;
}
.createOrEditField input:hover{
  background: transparent;
}
.createOrEditBtn-submit,.createOrEditBtn-cancel{
  padding: 10px 25px;
  border-radius: 9px 6px 6px 9px;

  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #F2F2F2;

  margin: 25px 5px;
  align-self: center;
}
.createOrEditBtn-cancel{
  background: #FF6800;
}
.createOrEditBtn-submit{
  background: #009B00;
}
.createOrEditBtn-submit:hover{
  background: #007600;
}
.createOrEditBtn-cancel:hover{
  background: #CD5200;
}

.passwordInput,.selectorInput {
  position: relative;
  margin: 12px 0;

  background: #DDDDDD;
  border-radius: 6px;
  border: none;


  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #8E8E8E;
  display: flex;

  width: 100%;
}
.passwordInput img{
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.selectorInput__wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #009B00;
}
.selectorInput__visible{
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.passwordInput input, .selectorInput input{

  margin: 0!important;
  width: 100%;
  border-radius: 9px;
}
.selectorInput__selector{
  position: absolute;
  right: -300px;
  top: 50%;

}
.selectorInput__selector-container{
  position: relative;
  background: #F2F2F2;
  width: 260px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 0px 6px 6px 6px;
  padding: 5px 10px;
}
.selectorInput__selector-container::after{
  content: '';
  position: absolute;
  top:0;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 15px solid #F2F2F2;
  border-left: 15px solid transparent;
}

.selectorInput__list-clicked{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
  width: 100%;
  margin: 15px 0;
}
.selectorInput__list-clicked ul{
  margin: 5px 0!important;
}




.selectorInput__item ,
.selectorInput__item-2,
.selectorInput__item-3{
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 5px 0;
  cursor: pointer;
  margin-top: auto!important;
  transition: ease .3s ease;
}
/*.selectorInput__item:hover{*/
/*  color: #FF6800!important;*/

/*}*/
/*.selectorInput__item-3:hover{*/
/*  color: #FF6800!important;*/
/*}*/
/*.selectorInput__item-2:hover{*/
/*  color: #FF6800!important;*/
/*}*/
.selectorInput__item{

  box-sizing: border-box;
  position: relative;
  border: 2px solid #DDDDDD;
  border-radius: 9px;

}
.selectorInput__item-2{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  color: #009B00;
}
.selectorInput__item-2 img{
  transform: rotate(90deg);
}
.selectorInput__item-3{
}
